* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
 
}
html{
  font-size: 62.5%;
}
/* ============================================ Header============================================== */
body{
    background-color: #f7f7f7;   
}

header nav {
  width: 100%;
  height: 8.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.5rem;
  background-color: #ffffff;
  margin-bottom: 8.8rem;
  position: fixed;
  top: 0;
  z-index: 2; 
}
a {
  text-decoration: none;
  color: #404449;
}

ul li {
  list-style: none;
}
.link-item {
  display: flex;
  justify-content: space-between;
}

.link a:link,
.link a:visited{
  padding: 1.2rem 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #404449;
}
.link a:active,
.link a:hover{
  color: #ff0059;
  transition: all 1s ease;
}

.logo {
  width: 19rem;
  height: 4.8rem;
}
.contact-btn a {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  background-color: #ff0059;
  border-radius: 25px;
  border: 2px solid white;
}
.contact-btn a:hover{
  color: #ff0059;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #ff0059;
  transition: all 1s ease;
}

/* ========================================= Section =============================================== */
.section__container {
  max-width: 140rem;
  margin: 0 auto;
  /* height: calc(100vh - 8.8rem); */
  position: relative;
  top: 8.8rem;
  /* background-color: green; */
}

.item-1 {
  /* background-color: pink; */
  /* height: calc(100vh - 8.8rem); */
  margin-top: 8.8rem;
}

.section__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section__col-1 {
  /* width: 54rem; */
  /* max-width: 57rem; */
}
.section__col-2{
  /* max-width: 57rem; */
}
.home-col{
  max-width: 114rem;
  margin: 0 auto;
  padding-top: 4.4rem;
}
.section__item-para-1 small{
  padding-top: 8.8rem;
 
  /* display: inline-block; */
  margin: 0 auto;
  font-size: 1.6rem;
}
.home-sub-title__col-1{
  padding: 0 1.5rem;
}
.home-sub-title__col-2{
  padding: 0 1.5rem;
}
.section__item-heading h1{
  font-size: 5.6rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.8rem 0 2.4rem 0;
}
.section__item-para-2 p {
    font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom:1.6rem;
}
.home__img{
  max-width: 54rem;
  max-height: 48.7rem;
}

.section__item-img img {
  width: 100%;
}

.section__item-btn {
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
}
.section__item-btn a {
  color: #212529;
}

/* ============================================= Section Contact ======================================= */
.section__contact {
  max-width: 110rem;
  margin: 13.8rem auto;
  border-top: 1px solid rgb(202, 200, 200);
  border-bottom: 1px solid rgb(202, 200, 200);
  padding: 6rem 2rem;
  /* height: calc(100vh - 88px); */
}
.section__heading h1 {
  max-width: 108rem;
  margin: 0 auto;
  margin-bottom:4.8rem;
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: bold;
  font-size: 4rem;
}

.para__content-1 {
  max-width: 108rem;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.para__content-2 {
  max-width: 108rem;
  margin: 0 auto;
  text-align: right;
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}
form {
  background-color: #f1f4f5;
  padding: 3rem;
  max-width: 108rem;
  margin: 0 auto;
}
.form__para {
  font-size: 1.4rem;
  margin: 1.4rem 0;
}
.form__name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.form__content {
  height: 6.4rem;
  margin: 0 0 1.8rem 0;
}
.form__label {
  font-size: 1.3rem;
  margin: 0 0 4px 0;
}
.form__input input {
  /* width: 101.2rem; */
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.star{
  color: #ff0059;
}
.col-name input{
    width: 100%;
}
.checkbox-label{
    font-size: 1.3rem;
    margin: 0 0 4px 0;
}
.form__select{
    margin-bottom: 0.5rem;
    padding: 6px 0 0 5px;
}
.checkbox-1{
    margin-bottom:0.4rem;
}
.textarea-1 textarea{
    width: 100%;
    height: 6.6rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.para-1 ,.para-2{
    margin: 1.4rem 0;
}
.checkbox-2{
    font-size: 1.4rem;
}
.form__submit{
    padding: 1.7rem 0;
    margin: 1.8rem 0;
    
}
button{
    padding: 1.2rem 2.4rem;
    background-color: #ff7a59;
    color: white;
    border-radius: 4px;
    border-color: #ff7a59;
}
/* ============================== Software infrastructure paradigm data  ====================================== */
.section__content{
    text-align: center;
    padding: 0 1.5rem;
    padding-top: 25rem;
    max-width: 111rem;
    margin: 0 auto;
    line-height: 1.5;
}
.heading-1{
    display: inline-block;
    margin-bottom: 0;
}
.heading-1 h1{
    margin-bottom: 0.8rem;
    font-size: 5.6rem;
    font-weight: bold;
    
}
.section__paragraph p{
    font-size: 1.6rem;
}

/* =========================================== About page ====================================================== */

                    /* ========================= Title 1 ============================ */
.about-sub-title-1{
  max-width: 114rem;
  margin: 0 auto;
    padding: 6rem 1.5rem;
}
.about-sub-title-1__para-1{
    padding: 0;
}
.about-sub-title-1__heading h1{
    font-size: 5.6rem;
    line-height: 1.2;
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
    font-weight: bold;
}
.about-sub-title-1__para-2 p{
    line-height: 1.5;
    font-size: 1.6rem;
}
.about-sub-title-1__img{
   max-width: 54rem;
    max-height: 40.5rem;
}


                    /* ========================= Title 2 ============================ */
.about-sub-title-2{
  max-width: 140rem;
  margin: 0 auto;
  padding: 6rem 1.5rem;
}
.about-sub-title-2__col-1{
    padding: 1rem 1.5rem;
    width: 100%;
}
.about-sub-title-2__heading h2{
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}
.about-sub-title-2__para-2{
    line-height: 1.5;
}
.about-sub-title-2__col-2{
    padding: 1rem 1.5rem;
    width: 100%;
}
.about-sub-title-2__img{
  max-width: 64.4rem;
    max-height: 52rem;
}
                    
                    /* ========================= Title 3 ============================ */
.about-sub-title-3{
    max-width: 140rem;
}

.about-sub-title-3__col-1{
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
}
.about-sub-title-3__img{
    max-width: 67rem;
    max-height: 53.6rem;
}
.about-sub-title-3__col-2{
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
}
.about-sub-title-3__heading h2{
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

                    /* ========================= Title 4 ============================ */

.about-sub-title-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 114rem;
    margin: auto;
    align-items: center;
    margin-bottom: 2rem;
}
.about-sub-title-4__heading-main h2{
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
    margin-bottom: 40px;
    padding-top: 7rem ;
}
.about-sub-title-4__col{
    max-width: 35rem;
    max-height: 35.8rem;
    border: 1px solid rgb(240, 230, 230);
    background-color: #ffffff;
    padding: 20px;
}
.about-sub-title-4__heading h4{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.8rem;

}
.about-sub-title-4__para-2 p{
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}

/* ======================================== Footer ================================================= */

.footer__col{
  max-width: 114rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  padding-bottom: 7rem;
  border-bottom: 1px solid rgb(202, 200, 200);
}
.footer__col-5{
max-width: 22.8rem;
padding: 0 1.5rem;
}
.contact-num{
  color: #ff0059;
}
.footer__col-5 h3{
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.footer__col-5 li{
  font-size: 1.4rem
}
.footer__col-5 li a:link,
.footer__col-5 li a:visited{
  font-size: 1.4rem;
  line-height: 1.75;
  font-weight: normal;
}
.footer__col-5 li a:hover,
.footer__col-5 li a:active{
  color: #ff0059;
  transition: all 0.5s ease;
}
.footer__content{
  display: flex;
  max-width: 111rem;
  margin: 0 auto;
  justify-content: space-between;
  padding: 3rem 0;
}
.footer__content p{
  font-size: 1.6rem;
}
.footer__content p a:hover,
.footer__content p a:active{
  color: #ff0059;
  text-decoration: underline;
  transition: all 0.5s ease;

}
.social-item a{
  padding: 0 1rem;
  width: 2rem;
  background-color: #ff0059;
  font-size: 20px;
}
.nav__icon{
  font-size: 2rem;
}


.uil:hover,
.uil:active{
  color: #ff0059;
  transition: all 1s ease;
}
.certificate{
  padding-bottom: 3rem;
}
.certificate img{
  width: 24.3rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

/* ========================================= Media query =============================================== */
@media (max-width:995px) {
  html{
    font-size: 39%;
  }
  .link-nav{
    display: none;
    width: 100%;
  } 
  .link-item{
    justify-content: space-between;
  }
  .section__col{
    display: block;
    margin: auto;
    width: 80vw;
    /* justify-content: center; */
  }
  .section__col,
  .about-sub-title-4{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .section__col-1,
  .section__col-2 img{
    align-items: center;
  }
  .about-sub-title-4__col{
    max-width: 72rem;
    padding: 0 1.5rem;
    margin-bottom: 2.4rem;
  }
  .about-sub-title-4{
    display: block;
  }
  .footer__col{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;

    max-width: 114rem;
    /* display: block; */
    text-align: center;
    margin: 0 auto;
  }
  .footer__col-5{
    max-width: 110rem;
    padding: 0;
    }
  li a .logo-mini{
    max-width: 51rem;
    max-height: 13rem;
  }
  .logo-mini img{
    width: 100%;
  }
  .footer__content{
    display: block;
    max-width: 111rem;
    margin: 0 auto;
    text-align: center;
    
  }
  .social{
    margin-top: 5rem;
  }
  .footer__col-5 h3{
    font-size: 1.8rem;
    margin-top: 4rem;
    font-weight: 500;
  }
  .section__item-heading,
  .section__heading{
    text-align: center;
  }
  .section__item-para-2{
    text-align: center;
  }
}
